.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .card {
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
    border-radius: 10px;
    overflow: hidden;
  }
  
  .full-width {
    width: calc(100% - 24px);
    margin: 0 12px; 
  }
  
  .center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .title {
    font-size: 24px;
    color: #333333;
    padding: 20px 0; 
    text-align: center; 
    border-bottom: 1px solid #e0e0e0; 
  }

  input.mat-input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
  }
  .mat-error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 4px;
  }


  button.mat-raised-button {
    background-color:black;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  button.mat-raised-button:hover {
    background-color: #0056b3;
  }
