.user-list-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
  overflow-x: auto; 
}

.table-header {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.mat-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

.mat-table th,
.mat-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  display: block;
  width: 100%; 
  box-sizing: border-box; 
}

.mat-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.custom-button {
  position: absolute;
  top: 35px;
  right: 20px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #333;
}


@media screen and (max-width: 767px) {
  .mat-table th,
  .mat-table td {
    font-size: 14px;
  }

  .mat-table th {
    white-space: normal;
  }

  .custom-button {
    position: static;
    margin-top: 20px;
  }
}
